/*
################################################################################
#        P H P - W E B - S T A T      S T Y L E - T H E M E     Counter        #
################################################################################
# Made by: Holger Naves                                                        #
# Contact: http://www.php-web-statistik.de                                     #
################################################################################
*/

/* --------------------------------------------- */
/* --------------- general style --------------- */
/* --------------------------------------------- */
html {
  width: 0;
  height: 0;
}
body {
  background: transparent;
  color: #000000;
  font-family: 'Muli', 'Myriad Pro', Arial, sans-serif !important;;
  font-size: 2em;
  letter-spacing: 0.1mm;
  margin: 0px 0px 0px 0px;
}

/* --------------------------------------------- */
/* --------------- counter style --------------- */
/* --------------------------------------------- */
.counter_table {
  width: 136px;
  font-size: 0.4em;
}
.header_l {
  width: 7px;
  background-position: 0% 0px;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
}
.header_r {
  background-position: 100% 0px;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
}
.data {
  padding: 4px;
  border: 1px solid #537392;
  background: #fafafa;
  color: rgba(50, 50, 50, 1);
}
.module {
  text-align: left;
  padding: 0px 5px 0px 3px;
  line-height: 1.2em;
}
.hits {
  text-align: right;
  padding: 0px 3px 0px 5px;
  line-height: 1.2em;
}
.user {
  font-weight: bold;
}
.footer_l {
  width: 7px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}
.footer_r {
  height: 20px;
  color: #FFFFFF;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  vertical-align: top;
  margin: 0px;
  padding: 1px 7px 0px 0px;
}

/* ------------------------------------------ */
/* --------------- link style --------------- */
/* ------------------------------------------ */
a:link, a:visited, a:active {
  background: transparent;
  color: #FFFFFF;
  text-decoration: none;
}
a:hover, a:focus {
  background: transparent;
  color: #A7A7A7;
  text-decoration: underline;
}