h5.h5 Versandkosten

p.
  Kosten des Versandes nach Österreich: 3,90 Euro

p.
  Kosten des Versandes nach Deuschland (ausser Inseln): 5,90 Euro

p. 
  Ab einem Bestellwert von 50,00 Euro liefern wir innerhalb Österreich versandkostenfrei!!

p.
  Wir versenden ausschließlich mit dem privaten Paketdienst DPD.
  
  Eine Abholung wie bei der Post/DHL ist daher nicht möglich.
  
  
hr.

p Sollten Sie DPD im Abwesenheitsfall, per Benachrichtigungskarte oder telefonisch, eine neue Lieferadresse mitteilen, fallen noch einmal Portokosten in Höhe von € 3,90 (Österreich) bzw. € 5,90 (Deutschland) an.