h3.h3 Gesetzliche Anbieterkennung
p Handelsagentur Lehmann
p Angela Lehmann
p Dornachgasse 15
p 6850 Dornbirn
p Vorarlberg -  Österreich
hr
p Telefon: +43 664-1306372
p Telefax: +43 5572-422498
p Email  : ha-lehmann@gmx.at
p USt-IdNr.: ATU71224409
p Wi-ID-Nr.: 8206629
p 
p Unternehmensgegenstand: Online-Handel mit Outdoor, Fitness und Restposten
p Mitgliedschaften: Händlerbund
p Berufsrecht: Gewerbeordnung: http://www.ris.bka.gv.at
p Aufsichtsbehörde: Bezirkshauptmannschaft Dornbirn
p 
p Die Europäische Kommission stellt eine Plattform für die außergerichtliche Online-Streitbeilegung (OS-Plattform) bereit, aufrufbar unter . http://ec.europa.eu/odr
p Wir sind seit 01.12.2016 Mitglied der Initiative "FairCommerce". Nähere Informationen hierzu finden Sie unter www.fair-commerce.de.
hr
h3.h3 Rechtliche Hinweise zur Webseite
p Alle Texte, Bilder und weiter hier veröffentlichten Informationen unterliegen dem Urheberrecht des Anbieters, soweit nicht Urheberrechte Dritter bestehen. In jedem Fall ist eine Vervielfältigung, Verbreitung oder öffentliche Wiedergabe ausschließlich im Falle einer widerruflichen und nicht übertragbaren Zustimmung des Anbieters gestattet.
p Für alle mittels Querverweis (Link) verbundenen Webinhalte übernimmt der Anbieter keine Verantwortung, da es sich hierbei nicht um eigene Inhalte handelt. Die verlinkten Seiten wurden auf rechtswidrige Inhalte überprüft, zum Zeitpunkt der Verlinkung waren solche nicht erkennbar. Verantwortlich für den Inhalt der verlinkten Seiten ist deren Betreiber. Der Anbieter hat hierzu keine allgemeine Überwachungs- und Prüfungspflicht. Bei Bekanntwerden einer Rechtsverletzung wird der entsprechende Link jedoch umgehend entfernt.
p
  div
    a(href="https://www.haendlerbund.de/faircommerce", target="_blank")
      img(src="/img/fc_logo.gif")