li
  h5.h5 Paypal
li
  h5.h5 Vorkasse
  p Sie überweisen den Rechnungsbetrag per Vorkasse auf unser Konto. Sofort nach Geldeingang erfolgt die Lieferung an Sie! Vermerken Sie bei Ihrer Überweisung bitte unbedingt Ihren Namen und, falls bekannt, Ihre Kundennummer und die Bestellnummer! Dies beschleunigt den Versand an Sie!
li
  h5.h5 Bei Abholung
h5.h5 Versandkosten
p Österreich 3,90 Euro

p Deuschland (ausser Inseln) 5,90 Euro

p Ab einem Bestellwert von 50,00 Euro liefern wir innerhalb Österreich Versandkostenfrei!!

p Wir versenden ausschließlich mit dem privaten Paketdienst DPD. Bei diesen ist eine Abholung wie bei der Post/DHL nicht möglich. Sollten Sie diesen im Abwesenheitsfall aufgrund der Benachrichtigungskarte telefonisch eine neue Lieferadresse mitteilen, fallen noch einmal Portokosten in Höhe von € 5,90 an.