div.danger.alert
  
  p Der Versand von Pfeffer- und CS Gas-Sprays erfolgt ausschließlich an Personen über 18 Jahre
  p mit Altersnachweis (Scan oder Foto des Nachweises bitte per Mail an ha-lehmann@gmx.at).
  p Dieser FSK 18 Artikel kann gem. einer Richlinie von PayPal nicht mit PayPal bezahlt werden.