@font-face {
  font-family: 'Flaticon';
  src:  url('fonts/Flaticon.eot?2w43z8');
  src:  url('fonts/Flaticon.eot?2w43z8#iefix') format('embedded-opentype'),
    url('fonts/Flaticon.ttf?2w43z8') format('truetype'),
    url('fonts/Flaticon.woff?2w43z8') format('woff'),
    url('fonts/Flaticon.svg?2w43z8#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Flaticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-home-3:before {
  content: "\e902";
}
.flaticon-pepper-spray:before {
  content: "\e900";
}
.flaticon-menu:before {
  content: "\e9bd";
}
.flaticon-menu-2:before {
  content: "\e9be";
}
.flaticon-menu-3:before {
  content: "\e9bf";
}
.flaticon-menu-4:before {
  content: "\e9c0";
}
.flaticon-hiking-up-1:before {
  content: "\f104";
}
.flaticon-hiking-up-2:before {
  content: "\f105";
}
.flaticon-hiking-up-3:before {
  content: "\f108";
}
.flaticon-sale:before {
  content: "\f10a";
}
.flaticon-sales-label:before {
  content: "\f10b";
}
.flaticon-sales-loud:before {
  content: "\f10c";
}

