/* Move down content because we have a fixed navbar that is 50px tall */
body {
}
.jumbotron {
  background-color: rgba(44, 45, 45, .7);
  padding: 3rem 2rem 1.9rem;
}
.jumbotron .logo {
  position: absolute;
  top: 69px;
  right: -60px;
  background: transparent url(../img/hal_logo_dark_357.png) no-repeat 0px -40px;
  line-height: 200px;
  height: 400px;
  width: 357px;
}
.container.wide {
  min-width: 100%;
}
